#contact_modal {
  display: none;
}

body {
  padding-bottom: 50px;
}

/* Photographer Banner */
.photograph-header {
  background-color: #fafafa;
  height: 300px;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 30px;
}
.photographerInfo {
  margin-right: -10px;
}

#photographerName {
  color: #d3573c;
  font-size: 64px;
  line-height: 83px;
}

#photographerLocation {
  color: #901c1c;
  font-size: 17px;
}

#photographerTagline {
  color: #000000;
  font-size: 14px;
}

#photographerImg {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  /* Added space between image & contact box */
  margin-left: 15%;
}

/* Media section */
.mediaBox {
  display: flex;
  height: 300px;
  width: 350px;
  /*   align-content: center; */
  display: flex;
  flex-direction: column;
  /*   justify-content: space-between; */
  align-items: left;
  padding: 50px 0;
}

/* Enlarge to 110% on hover */
.mediaBox:hover {
  transform: scale(1.1);
}

.mediaSubBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #901c1c;
}

.likeBox {
  display: flex;
}

.likeBox img {
  height: 20px;
  width: 18.35px;
  padding: 28px 0 0 10px;
}

.mediaImg {
  min-height: 300px;
  min-width: 350px;
  background-color: #c4c4c4;
  border-radius: 5px;
}

#mediaTitle {
  display: flex;
  font-size: 26px;
  line-height: 31px;
  /* text-align: left; */
}
#mediaLikes {
  /* text-align: right; */
  font-size: 24px;
  line-height: 30px;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/* Change color on hover & focus */
.contact_button:hover,
.contact_button:focus {
  background-color: #d3573c;
  color: black;
}

#contact_modal {
  position: absolute;
  top: 100px;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/* Image modal */
.close {
  position: absolute;
  color: #000000;
  top: 20px;
  right: 20px;
}
